<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9045265388-8gqtrjdi71m6tud0r86dfk000uj4n0sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9045265388-8gqtrjdi71m6tud0r86dfk000uj4n0sa</string>
	<key>API_KEY</key>
	<string>AIzaSyBo-dfiMw1C71l5-GgPE5pVKiqTRpnPCbI</string>
	<key>GCM_SENDER_ID</key>
	<string>9045265388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VatLieuXayDung</string>
	<key>PROJECT_ID</key>
	<string>vat-lieu-xay-dung</string>
	<key>STORAGE_BUCKET</key>
	<string>vat-lieu-xay-dung.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9045265388:ios:fd8aab5958c2228940cec9</string>
</dict>
</plist>