<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877653245316-cg78trbbhv0gfog2gl23m31ulr8gulte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877653245316-cg78trbbhv0gfog2gl23m31ulr8gulte</string>
	<key>API_KEY</key>
	<string>AIzaSyCagW9CVBQgwSL2-lc-DUC-vK928EaFya8</string>
	<key>GCM_SENDER_ID</key>
	<string>877653245316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.tdc.Quan-Ly-Ban-Hang-Vat-Lieu-Xay</string>
	<key>PROJECT_ID</key>
	<string>quan-ly-ban-hang-vat-lieu-xay</string>
	<key>STORAGE_BUCKET</key>
	<string>quan-ly-ban-hang-vat-lieu-xay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877653245316:ios:5baaf52ca7da30445f71d1</string>
</dict>
</plist>